---
import { Image } from '@astrojs/image/components';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/ico" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content="Rustular 0.0.0" />
    <title>Rustular</title>
  </head>
  <body class="bg-slate-950 text-white font-sans">
    <div class="h-16 border-slate-700 border-b flex items-center mb-16">
      <Image
        class="w-10 bg-white rounded-full border-2 border-white ml-2"
        src="/assets/rustular.png"
        alt="Rust Logo"
        width={128}
        height={128}
      />
      <a class="font-mono font-bold text-3xl pl-2" href="/">Rustular</a>
    </div>
    <div class="font-thin max-w-xl mx-auto">
      Rustular is currently under development. Please check back later.
    </div>
  </body>
</html>
