---
import { Image } from '@astrojs/image/components';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/ico" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content="Rustular 0.0.0" />
    <title>Rustular</title>
  </head>
  <body class="bg-slate-950 font-sans text-white">
    <div class="h-screen">
      <div class="mb-16 flex h-16 items-center border-b border-slate-700">
        <Image
          class="ml-2 w-10"
          src="/assets/rustular.png"
          alt="Rust Logo"
          width={128}
          height={128}
        />
        <a class="pl-2 font-mono text-3xl font-bold" href="/">Rustular</a>
      </div>
      <div class="mx-auto flex max-w-xl flex-col space-y-16 text-center">
        <div class="text-5xl">Blazingly fast</div>
        <div class="font-thin">
          Rustular is a revolutionary web development tool that harnesses the
          immense power of Rust, WebAssembly, and Angular. By leveraging these
          cutting-edge technologies, Rustular empowers developers to create
          lightning-fast and highly modular web applications. With its advanced
          performance optimizations and seamless integration capabilities,
          Rustular sets a new standard for building efficient and scalable web
          experiences.
        </div>
        <div class="mx-auto flex space-x-8">
          <a
            class="rounded-full border-2 border-white bg-white px-8 py-4 text-fuchsia-600 hover:border-slate-200 hover:bg-slate-200"
            href="/docs"
          >
            Get Started
          </a>
          <div
            class="cursor-copy select-none border-2 border-fuchsia-600 p-4"
            onclick="navigator.clipboard.writeText('pnpm create rustular-app')"
          >
            {'> pnpm create rustular-app'}
          </div>
        </div>
        <div>
          Powered by:
          <Image
            class="mx-auto w-1/4"
            src="/assets/angular.png"
            alt="Angular Logo"
            width={269}
            height={72}
          />
          <Image
            class="mx-auto w-1/4"
            src="/assets/rust.png"
            alt="Rust Logo"
            width={265}
            height={164}
          />
          <Image
            class="mx-auto w-1/4"
            src="/assets/webassembly.png"
            alt="Web Assembly Logo"
            width={211}
            height={120}
          />
        </div>
      </div>
    </div>
    <div class="mb-8 space-y-4 text-center">
      <div class="text-2xl">
        Faster than any other <span class="text-[0.4rem]">tested</span> framework!
      </div>
      <div class="mx-auto max-w-xl font-thin">
        We believe speed is crucial for all websites. Faster website loading
        leads to increased revenue. That's why Rustular is designed to
        prioritize speed. With its exceptionally fast loading times, your
        customers won't have to wait.
      </div>
      <Image
        class="mx-auto"
        src="/assets/speed.png"
        alt="Rustular"
        width={476}
        height={479}
      />
      <div class="text-2xl">Fully open-source and community-driven!</div>
      <div class="mx-auto max-w-xl font-thin">
        Rustular is fully open-source and community-driven. We believe that
        open-source software is the future of web development. That's why we
        made Rustular open-source. We want to empower developers to create
        amazing web experiences. The Rustular community is always growing, and
        we'd love for you to join us! Visit our{' '}
        <a class="underline" href="https://github.com/lofimichael/rustular">
          GitHub</a
        > and even <a
          class="underline"
          href="https://github.com/tonyaellie/rustular">this website's github</a
        >! to learn more.
      </div>
      <div class="text-2xl">The idea!</div>
      <div class="mx-auto max-w-xl font-thin">
        Take your standard web app (i.e. React, Vue, Next, Angular, etc.) and
        convert each individual component (button, div, etc.) into it's own
        dedicated Angular application. Convert each component application into
        individual WASM modules via wasm-bindgen (using a highly performant Rust
        build server), and import each module application into a mothership
        Angular application using WebAssembly.instantiateStreaming()., where the
        target is all your WASM modules. CSS becomes optimized by converting
        every key-value into respective hexadecimal values. If you ever change a
        single element, you dont have to recompile your entire application --
        just the individual WASM module.
      </div>
      <div class="pb-8 text-5xl">Start building with Rustular today</div>
      <a
        class="rounded-full border-2 border-white bg-white px-8 py-4 text-fuchsia-600 hover:border-slate-200 hover:bg-slate-200"
        href="/docs"
      >
        Get Started
      </a>
    </div>
  </body>
</html>
