---
import { Image } from '@astrojs/image/components';
import Layout from '../components/Layout.astro';
import Testimonial from '../components/Testimonial.astro';
---

<Layout title="Home">
  <div class="mx-auto flex max-w-xl flex-col space-y-16 text-center">
    <div class="text-5xl">
      Web framework that
      <br />
      <span id="typewriter">takes web development to the next level</span>
      <span id="cursor">|</span>
    </div>
    <div class="font-thin">
      Rustular is a revolutionary web development tool that harnesses the
      immense power of Rust, WebAssembly, and Angular. By leveraging these
      cutting-edge technologies, Rustular empowers developers to create
      lightning-fast and highly modular web applications. With its advanced
      performance optimizations and seamless integration capabilities, Rustular
      sets a new standard for building efficient and scalable web experiences.
    </div>
    <div class="mx-auto flex space-x-8">
      <a
        rel="prefetch"
        class="rounded-full border-2 border-white bg-white px-8 py-4 text-fuchsia-600 hover:border-slate-200 hover:bg-slate-200"
        href="/docs/"
      >
        Get Started
      </a>
      <div
        class="flex cursor-copy select-none bg-gradient-to-r from-fuchsia-600 via-blue-700 to-pink-600 bg-size-200 bg-pos-0 p-0.5 transition-all duration-1000 hover:bg-pos-100 hover:duration-500"
        onclick="navigator.clipboard.writeText('pnpm create rustular-app')"
      >
        <div
          class="mx-auto flex bg-slate-950 p-3 transition-colors duration-500 active:bg-slate-900 active:duration-0"
        >
          <div class="m-auto">
            {'~ pnpm create rustular-app'}
          </div>
        </div>
      </div>
    </div>
    <div>
      Powered by:
      <Image
        class="mx-auto w-1/4"
        src="/assets/angular.png"
        alt="Angular Logo"
        width={269}
        height={72}
      />
      <Image
        class="mx-auto w-1/4"
        src="/assets/rust.png"
        alt="Rust Logo"
        width={265}
        height={164}
      />
      <Image
        class="mx-auto w-1/4"
        src="/assets/webassembly.png"
        alt="Web Assembly Logo"
        width={211}
        height={120}
      />
    </div>
  </div>

  <div class="mb-8 space-y-4 text-center">
    <div class="text-2xl">
      Faster than any other <span class="text-[0.4rem]">tested</span> framework!
    </div>
    <div class="mx-auto max-w-xl font-thin">
      We believe speed is crucial for all websites. Faster website loading leads
      to increased revenue. That's why Rustular is designed to prioritize speed.
      With its exceptionally fast loading times, your customers won't have to
      wait.
    </div>
    <Image
      class="mx-auto"
      src="/assets/speed.png"
      alt="Rustular"
      width={476}
      height={479}
    />
    <div class="text-2xl">Fully open-source and community-driven!</div>
    <div class="mx-auto max-w-xl font-thin">
      Rustular is fully open-source and community-driven. We believe that
      open-source software is the future of web development. That's why we made
      Rustular open-source. We want to empower developers to create amazing web
      experiences. The Rustular community is always growing, and we'd love for
      you to join us! Visit our{' '}
      <a class="underline" href="https://github.com/rustular"> GitHub</a> to learn
      more.
    </div>
    <div class="text-2xl">The idea!</div>
    <div class="mx-auto max-w-xl font-thin">
      Take your standard web app (i.e. React, Vue, Next, Angular, etc.) and
      convert each individual component (button, div, etc.) into it's own
      dedicated Angular application. Convert each component application into
      individual WASM modules via wasm-bindgen (using a highly performant Rust
      build server), and import each module application into a mothership
      Angular application using WebAssembly.instantiateStreaming(), where the
      target is all your WASM modules. CSS becomes optimized by converting every
      key-value into respective hexadecimal values. If you ever change a single
      element, you dont have to recompile your entire application -- just the
      individual WASM module.
    </div>
    <h2 class="text-5xl">Developers love Rustular!</h2>
    <div class="m-auto flex max-w-4xl flex-wrap justify-center gap-4">
      <Testimonial
        name="whatplan"
        profilePic="https://pbs.twimg.com/profile_images/1636134883767590914/nRoVdSdw_400x400.jpg"
        testimonial="Time to rewrite my entire application in Rustular"
      />
      <Testimonial
        name="Tonya"
        profilePic="https://cdn.discordapp.com/avatars/366321360861003787/6bdb5ec4c0a6466c1334300dfcf97ae4.png?size=256"
        testimonial="I never thought I'd be able to build a website this fast!"
      />
      <Testimonial
        name="Iyla Kiwa"
        profilePic="https://pbs.twimg.com/profile_images/1379090523831537665/hunTGLqy_400x400.jpg"
        testimonial="This is a monstrosity, all involved should be locked up"
      />
      <Testimonial
        name="Dan Abramov"
        profilePic="https://pbs.twimg.com/profile_images/1545194945161707520/rqkwPViA_400x400.jpg"
        testimonial="looking into this"
      />
      <Testimonial
        name="nexxel"
        profilePic="https://pbs.twimg.com/profile_images/1642098866559541249/dFjXxmUZ_400x400.jpg"
        testimonial="It is really awsome, interesting, this sounds really cool!"
      />
      <Testimonial
        name="Nate Codes"
        profilePic="https://pbs.twimg.com/profile_images/1566144856619003904/X29sEDDM_400x400.jpg"
        testimonial="Holy sh*t this is awesome"
      />
    </div>

    <div class="pb-8 text-5xl">Start building with Rustular today</div>
    <a
      class="rounded-full border-2 border-white bg-white px-8 py-4 text-fuchsia-600 hover:border-slate-200 hover:bg-slate-200"
      href="/docs"
    >
      Get Started
    </a>
  </div>
</Layout>

<script>
  const messages = [
    'combines the strength of Rust with the elegance of web design!',
    'is the future of web development!',
    'brings speed, security, and a touch of rust to the table!',
    'Theo should use!',
  ].sort(() => Math.random() - 0.5);

  messages.push('is the future of web development!');

  const delay = 100; // Delay between typing and deleting in milliseconds
  const pause = 1000; // Pause between deleting and typing a new message in milliseconds

  let currentIndex = 0;
  let currentMessage = '';
  let isDeleting = false;
  let cursorVisible = true; // Flag to track the visibility of the cursor

  const type = () => {
    const message = messages[currentIndex]!;

    if (isDeleting) {
      // Deleting characters
      currentMessage = message.substring(0, currentMessage.length - 1);
    } else {
      // Typing characters
      currentMessage = message.substring(0, currentMessage.length + 1);
    }

    document.getElementById('typewriter')!.textContent = currentMessage;

    // Determine the typing speed
    let typingSpeed = isDeleting ? delay / 2 : delay;

    // Check if the current message is typed or deleted completely
    if (!isDeleting && currentMessage === message) {
      typingSpeed = pause; // Pause before typing the next message
      isDeleting = true;
    } else if (isDeleting && currentMessage === '') {
      isDeleting = false;
      currentIndex = (currentIndex + 1) % messages.length; // Move to the next message
    }

    setTimeout(type, typingSpeed);
  };

  // Start the typewriter effect
  setTimeout(type, pause * 2);

  setInterval(() => {
    cursorVisible = !cursorVisible;
    document.getElementById('cursor')!.style.visibility = cursorVisible
      ? 'visible'
      : 'hidden';
  }, 500);
</script>
