---
import { Image } from 'astro:assets';
import Layout from '../components/Layout.astro';
import Testimonial from '../components/Testimonial.astro';
---

<Layout title="Home">
  <section
    class="mx-auto grid max-w-7xl grid-cols-1 gap-y-16 px-4 sm:px-6 lg:px-8"
  >
    <style>
      #typewriter {
        color: red; /* Fallback color */
        animation: rainbow 15s infinite;
      }

      @keyframes rainbow {
        0% {
          color: red;
        }
        14% {
          color: orange;
        }
        28% {
          color: yellow;
        }
        42% {
          color: green;
        }
        57% {
          color: blue;
        }
        71% {
          color: indigo;
        }
        85% {
          color: violet;
        }
        100% {
          color: red;
        }
      }
    </style>

    <div class="space-y-6 text-center">
      <h1 class="text-3xl">
        The Web Science that
        <br />
        <span id="typewriter">takes web development to the next level</span>
        <span id="cursor">|</span>
      </h1>
      <p class="mx-auto max-w-xl space-y-8">
        <strong>Rustular:</strong> a drop-in metaframework that <strong
          >supercharges</strong
        > any web application.
      </p>
      <div class="flex justify-center space-x-8">
        <a
          rel="prefetch"
          class="rounded-full border-2 border-white bg-white px-8 py-4 text-fuchsia-600 hover:border-slate-200 hover:bg-slate-200"
          href="/docs/"
        >
          Get Started
        </a>
        <div
          class="flex cursor-copy select-none bg-gradient-to-r from-fuchsia-600 via-blue-700 to-pink-600 bg-size-200 bg-pos-0 p-0.5 transition-all duration-1000 hover:bg-pos-100 hover:duration-500"
          onclick="
          navigator.clipboard.writeText('pnpm create rustular-app')
          "
        >
          <div
            class="mx-auto flex bg-slate-950 p-3 transition-colors duration-500 active:bg-slate-900 active:duration-0"
          >
            <div class="m-auto">
              {'~ pnpm create rustular-app'}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- More sections continue in the same fashion -->

    <div class="space-y-6 text-center">
      <!-- Rationale Section -->
      <div class="text-2xl">Our Methodology</div>
      <div class="mx-auto max-w-xl font-thin">
        <strong>Here's how it works.</strong> Take your standard web app (like React,
        Vue, Next, Angular, etc.) and convert each individual component (like buttons,
        divs, etc.) into its own dedicated WASM module with granular reactivity.
        Import each module component into a primary Angular application using WebAssembly.instantiateStreaming().
        This process <strong>also</strong> optimizes critical CSS load times by converting
        every ASCII key-value into respective hexadecimal values. The beauty of this
        system is that if you ever need to change a single element, you don't need
        to recompile your entire application - just hot-swap the individual WASM
        module.

        <div>This is our commitment to efficiency.</div>
      </div>

      <h2 class="text-3xl">Powered by:</h2>
      <div class="mx-auto max-w-xl space-y-8 font-thin">
        <div>
          <Image
            class="mx-auto w-1/4"
            src="/assets/rust.png"
            alt="Rust Logo"
            width={265}
            height={164}
          />
          <p>
            Known for its performance and memory safety, Rust is at the heart of
            Rustular. The Rustular build server, powered by Rust, deliver
            optimal performance and efficient resource utilization, ensuring
            your web applications are compiled and served lightning-fast.
          </p>
        </div>

        <div>
          <Image
            class="mx-auto w-1/4"
            src="/assets/webassembly.png"
            alt="Web Assembly Logo"
            width={211}
            height={120}
          />
          <p>
            WebAssembly modules make your applications fast and efficient. At
            Rustular, we embrace modularity by converting each individual
            component of your web app into a dedicated WASM module. This
            approach not only makes your applications quick but also simplifies
            maintenance, enables code reuse, and allows independent updates to
            specific components without recompiling the entire application.
          </p>
        </div>

        <div>
          <Image
            class="mx-auto w-1/4"
            src="/assets/angular.png"
            alt="Angular Logo"
            width={269}
            height={72}
          />
          <p>
            Rustular champions flexibility and framework-agnosticism, capable of
            interfacing efficiently with your preferred front-end
            technology—Angular, React, Vue, or others. While we acknowledge
            Angular's component-based architecture, wide-ranging capabilities,
            and high scalability as a great match, we value the power of choice.
            Our commitment is to ensure that your applications are fast, highly
            interactive, and user-friendly, providing a superior web experience,
            regardless of the chosen framework. Our vision is that <strong
              >any</strong
            > application can be Rustular.
          </p>
        </div>
      </div>
    </div>
  </section>

  <div class="my-8 space-y-4 text-center">
    <!-- Speed Advantage Section -->
    <div class="text-2xl">Embrace Speed Like Never Before</div>
    <div class="mx-auto max-w-xl font-thin">
      We understand the importance of speed for websites. Faster loading times
      can lead to increased revenue, and a smoother user experience. Rustular is
      designed with this in mind. Experience lightning-fast loading times and
      ensure your users never have to wait again.
    </div>
    <Image
      class="mx-auto"
      src="/assets/speed.png"
      alt="Rustular"
      width={476}
      height={479}
    />
    <!-- Open Source Section -->
    <div class="text-2xl">Open-Source and Community-Driven</div>
    <div class="mx-auto max-w-xl font-thin">
      We're proud to say that Rustular is fully open-source and
      community-driven. We believe that the future of web development lies in
      open-source software. We aim to empower developers to create incredible
      web experiences, and invite you to join our ever-growing Rustular
      community. Visit our <a
        class="underline"
        href="https://github.com/rustular">GitHub</a
      > to learn more.
    </div>

    <h2 class="text-5xl">Developers love Rustular!</h2>
    <div class="m-auto flex max-w-4xl flex-wrap justify-center gap-4">
      <Testimonial
        name="whatplan"
        profilePic="https://pbs.twimg.com/profile_images/1636134883767590914/nRoVdSdw_400x400.jpg"
        testimonial="Time to rewrite my entire application in Rustular"
      />
      <Testimonial
        name="Tonya"
        profilePic="https://cdn.discordapp.com/avatars/366321360861003787/6bdb5ec4c0a6466c1334300dfcf97ae4.png?size=256"
        testimonial="I never thought I'd be able to build a website this fast!"
      />
      <Testimonial
        name="Iyla Kiwa"
        profilePic="https://pbs.twimg.com/profile_images/1379090523831537665/hunTGLqy_400x400.jpg"
        testimonial="This is a monstrosity, all involved should be locked up"
      />
      <Testimonial
        name="Dan Abramov"
        profilePic="https://pbs.twimg.com/profile_images/1545194945161707520/rqkwPViA_400x400.jpg"
        testimonial="looking into this"
      />
      <Testimonial
        name="nexxel"
        profilePic="https://pbs.twimg.com/profile_images/1642098866559541249/dFjXxmUZ_400x400.jpg"
        testimonial="It is really awsome, interesting, this sounds really cool!"
      />
      <Testimonial
        name="Nate Codes"
        profilePic="https://pbs.twimg.com/profile_images/1566144856619003904/X29sEDDM_400x400.jpg"
        testimonial="Holy sh*t this is awesome"
      />
    </div>

    <div class="pb-8 text-5xl">Start building with Rustular today</div>
    <a
      class="rounded-full border-2 border-white bg-white px-8 py-4 text-fuchsia-600 hover:border-slate-200 hover:bg-slate-200"
      href="/docs"
    >
      Get Started
    </a>
  </div>
</Layout>

<script>
  const messages = [
    'combines the strength of Rust with the elegance of web design!',
    'is the future of web development!',
    'brings speed, security, and a touch of Rust to the table!',
    'Theo should use!',
  ].sort(() => Math.random() - 0.5);

  if (Math.random() < 0.1) messages.push('is not as good as Remix!');

  messages.push('is the future of web development!');

  const delay = 100; // Delay between typing and deleting in milliseconds
  const pause = 1000; // Pause between deleting and typing a new message in milliseconds

  let currentIndex = 0;
  let currentMessage = '';
  let isDeleting = false;
  let cursorVisible = true; // Flag to track the visibility of the cursor

  const type = () => {
    const message = messages[currentIndex]!;

    if (isDeleting) {
      // Deleting characters
      currentMessage = message.substring(0, currentMessage.length - 1);
    } else {
      // Typing characters
      currentMessage = message.substring(0, currentMessage.length + 1);
    }

    document.getElementById('typewriter')!.textContent = currentMessage;

    // Determine the typing speed
    let typingSpeed = isDeleting ? delay / 2 : delay;

    // Check if the current message is typed or deleted completely
    if (!isDeleting && currentMessage === message) {
      typingSpeed = pause; // Pause before typing the next message
      isDeleting = true;
    } else if (isDeleting && currentMessage === '') {
      isDeleting = false;
      currentIndex = (currentIndex + 1) % messages.length; // Move to the next message
    }

    setTimeout(type, typingSpeed);
  };

  // Start the typewriter effect
  setTimeout(type, pause * 2);

  setInterval(() => {
    cursorVisible = !cursorVisible;
    document.getElementById('cursor')!.style.visibility = cursorVisible
      ? 'visible'
      : 'hidden';
  }, 500);
</script>
