---
---

<div class="mx-auto w-96 py-4">
  <a
    href="https://rustular.ck.page/1fbd315725"
    class="mb-2 block w-min whitespace-nowrap text-lg font-bold text-blue-500 hover:underline"
    >Subscribe to our newsletter</a
  >
  <a
    rel="prefetch"
    class="mt-2 block w-min whitespace-nowrap text-sm text-blue-500 hover:underline"
    href="/newsletter">View our past newsletters</a
  >
</div>
