---
import { Image } from '@astrojs/image/components';
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/ico" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content="Rustular 0.0.0" />
    <title>{title} - Rustular</title>
  </head>
  <body class="bg-slate-950 font-sans text-white">
    <header class="mb-16 flex h-16 items-center border-b border-slate-700">
      <Image
        class="ml-2 w-10"
        src="/assets/rustular.png"
        alt="Rust Logo"
        width={128}
        height={128}
      />
      <a rel="prefetch" class="pl-2 font-mono text-3xl font-bold" href="/"
        >Rustular</a
      >
    </header>
    <slot />
  </body>
</html>
