---
import { Image } from '@astrojs/image/components';

interface Props {
  name: string;
  profilePic: string;
  testimonial: string;
}

const { name, profilePic, testimonial } = Astro.props;
---

<div class="flex w-72 flex-col items-center rounded-md border p-2 border-slate-400 bg-slate-900">
  <div class="flex">
    <Image
      class="rounded-full"
      src={profilePic}
      alt={`${name}'s profile picture'`}
      width={48}
      height={48}
    />
    <div class="my-auto ml-2 text-xl font-bold">{name}</div>
  </div>
  <div class="pt-2 font-light">{testimonial}</div>
</div>
